# Common ignores
dist/
build/
.next
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
*.tgz
lerna-debug.log
/.changelog
.git
package-lock.json

# IDEs
jsconfig.json
.vscode/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# Typings file.
typings/

# Misc
tmp/
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
